body {
  font-family: 'Concert One', cursive;
}

.App {
  text-align: center;
}

/* LANDING PAGE STYLING */
.landing-page-main {
  border: 1px solid black;
  /* height: 99.8vh; */
  
}

.apex-logo {
  width: 10%;
}

nav {
  /* border: 1px solid green; */
  /* border: 1px solid red; */
  height: 60px;
  background-color: #990000;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.portfolio {
  color: white;
  border: 1px solid pink;
  width: 80%;
  text-align: right;
}

/* .logo-pic {
  width: 49%;
} */

.form-contain {
  border: 2px solid white;
  width: 70%;
  background-color: #292929;
  border-radius: 10px;
}

.form-contain h3 {
  color: white;
  margin: 0 auto;
}

/* .nav-bar {
  border: 1px solid red;
  height: 60px;
  background-color: #990000;
} */

.bottom-contain {
  height: 91.6vh;
  background-image: url("./images/apex-embed-about-legends.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: white;
  width: 75%;
  display: inline-block;
  text-align: left;
  /* border: 1px solid white; */
}

.select-box {
  /* border: 1px solid white; */
  width: 75%;
}

.input-box {
  width: 75%;
}

.landing-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #990000;
  border: none;
  color: white;
}


/* PLAYER PAGE STYLING */
.player-info {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-img {
  width: 5%;
}

.stats-contain {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.legend-stats {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.legend-cards {
  border: 1px solid black;
  width: 40%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
}

.legend-pic {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 60%;
  /* border: 1px solid black; */
  padding-bottom: 30px;
  
}

.inside-div-legend {
  /* border: 1px solid blue; */
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-button {
  margin-top: 10px;
  width: 80%;
  padding: 10px;
  background-color: #990000;
  color: white;
  border-radius: 5px;
  border: none;
}

.inside-div-legend2 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.legend-cards2 {
  border: 2px solid pink;
  width: 35%;
  border-radius: 10px;
  background-color: #292929;
}

.legend-cards2 h4 {
  color: white;
  font-family: 'Concert One', cursive;
  font-size: 1.4rem;
}

.bg-color {
  background-color: black;
  height: 100vh;
  /* width: 95%; */
}

.bg-color h3 {
  color: white;
}

.stats-contain {
  color: white;
  border: 2px solid white;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.main-contain {
  height: 100vh;
}

.title {
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 15px;
}

.player-name {
  /* border: 1px solid pink; */
  padding-left: 15px;
  font-size: 2rem;
}